<div ng-controller="changesController as vm">
    <umb-load-indicator ng-if="vm.loading">
    </umb-load-indicator>

    <div ng-if="!vm.loading">
        <div class="umb-content-no-changes" ng-if="vm.changes.length == 0">
            <h3 class="bold">There are no pending changes</h3>
            <p>Currently there are no pending changes. Changes that are saved but not published will be displayed in an overview where you can compare the currently published content and the changed content.</p>
        </div>
        <div ng-if="vm.changes.length > 0">

            <div class="flex umb-content-header">
                <div class="umb-content-intro">
                    <h3 class="bold">Pending changes</h3>
                    <p>
                        The following changes are not published yet. The left panel contains the last published value. The right panel contains the new value that should be published soon!
                    </p>
                </div>
                <div class="umb-content-last-modified-by">
                    <h4 class="umb-content-last-modified-by-title bold">Last modified by</h4>
                    <div class="flex items-center">
                        <umb-avatar size="xxs"
                                    img-src="/media/{{vm.editorInfo.AvatarUrl}}"
                                    img-srcset="/media/{{vm.editorInfo.AvatarUrl}} 2x, /media/{{vm.editorInfo.AvatarUrl}} 3x"
                                    class="umb-content-last-modified-by-avatar"
                                    color="secondary"
                                    ng-if="vm.editorInfo.AvatarUrl">
                        </umb-avatar>
                        <div>
                            <span class="umb-content-last-modified-by-user">{{vm.editorInfo.Name}}</span>
                            <span class="umb-content-last-modified-by-date">{{vm.editorInfo.UpdateDate}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="umb-content-language-nav">
                <ul>
                    <li ng-repeat="language in vm.languages">
                        <div>
                            <a class="flex items-center umb-content-language-nav-item" ng-class="{active: vm.selectedLanguage == language.IsoCode}">
                                <span class="umb-content-language-nav-item-text" ng-click="vm.selectLanguage(language.IsoCode)">{{language.Name}}</span>
                                <span ng-if="vm.getLanguageCount(language.IsoCode) > 0" class="umb-content-language-nav-item-count">{{vm.getLanguageCount(language.IsoCode)}}</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="umb-content-no-language-changes" ng-if="!vm.noChangesLabel">
                There are no pending changes for this language.
            </div>

            <div class="umb-content-changes">
                <ul class="umb-content-changes-list">
                    <li ng-repeat="prop in vm.changes | filter:filterLanguage">
                        <div class="umb-content-changes-item">
                            <div class="umb-content-changes-item-title">
                                <span class="umb-content-changes-item-name">{{prop.Name}}</span>
                                <span class="umb-content-changes-item-description">{{prop.Description}}</span>
                            </div>
                            <div class="umb-content-changes-item-content" ng-repeat="change in prop.Changes | filter: { Culture: vm.selectedLanguage }">
                                <div class="umb-content-changes-old" ng-switch on="prop.EditorAlias">
                                    <div class="umb-content-changes-header">Published</div>
                                    <div ng-switch-when="Umbraco.MediaPicker">
                                        <img src="{{change.PublishedValue}}" style="width: 200px;" />
                                    </div>
                                    <div ng-switch-when="Umbraco.NestedContent">
                                        <div ng-repeat="nc in change.PublishedValue" class="nested_content_item">
                                            <i class="icon-umb-users large"></i>
                                            {{nc.authorName}}
                                        </div>
                                    </div>
                                    <div ng-switch-when="Umbraco.MultiNodeTreePicker">
                                        <div ng-repeat="content in change.PublishedValue" class="nested_content_item">
                                            <i class="{{content.Icon}} large"></i>
                                            <span>{{content.Name}}</span>
                                        </div>
                                    </div>
                                    <div ng-switch-default>
                                        {{change.PublishedValue}}
                                    </div>
                                </div>

                                <div class="umb-content-changes-new" ng-switch on="prop.EditorAlias">
                                    <div class="umb-content-changes-header">Edited</div>
                                    <div ng-switch-when="Umbraco.MediaPicker">
                                        <img src="{{change.EditedValue}}" style="width: 200px;" />
                                    </div>
                                    <div ng-switch-when="Umbraco.NestedContent">
                                        <div ng-repeat="nc in change.EditedValue" class="nested_content_item">
                                            <i class="icon-umb-users large"></i>
                                            {{nc.authorName}}
                                        </div>
                                    </div>
                                    <div ng-switch-when="Umbraco.MultiNodeTreePicker">
                                        <div ng-repeat="content in change.EditedValue" class="nested_content_item">
                                            <i class="{{content.Icon}} large"></i>
                                            <span>{{content.Name}}</span>
                                        </div>
                                    </div>
                                    <div ng-switch-default>
                                        {{change.EditedValue}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<style>


    .umb-content-no-changes {
        max-width: 600px;
    }

    .umb-content-no-language-changes {
        margin-top: 40px;
        font-weight: 600;
    }

    .umb-content-intro {
        flex: 65%;
    }

        .umb-content-intro p {
            line-height: 24px;
        }

    .umb-content-last-modified-by {
        padding-left: 100px;
        flex: 35%;
    }

    .umb-content-last-modified-by-title {
        font-size: 17px;
    }

    .umb-content-last-modified-by-avatar {
        margin-right: 9px;
    }

    .umb-content-last-modified-by-user {
        display: block;
    }

    .umb-content-last-modified-by-date {
        color: #706F73;
        font-size: 13px;
        display: block;
    }

    .umb-content-language-nav {
        top: 0;
        position: sticky;
        background-color: #f3f3f5;
        padding: 15px 0;
    }

        .umb-content-language-nav > ul {
            margin: 0;
        }

            .umb-content-language-nav > ul li {
                display: inline-block;
            }

    .umb-content-language-nav-item {
        padding: 10px 20px;
        border-left: 1px solid #D8D7D9;
    }

        .umb-content-language-nav-item:hover {
            text-decoration: none;
            cursor: pointer;
        }

        .umb-content-language-nav-item.active {
            color: #02AEA2;
            font-weight: 600;
        }

    .umb-content-language-nav-item-count {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 10px;
        font-weight: 600;
        border-radius: 50%;
        background-color: #D42D2D;
        width: 16px;
        height: 16px;
        margin-left: 4px;
    }

    .umb-content-language-nav li:last-child .umb-content-language-nav-item {
        border-right: 1px solid #D8D7D9;
    }

    .umb-content-changes {
        margin-top: 25px;
    }

    .umb-content-changes-list {
        margin: 0;
    }

        .umb-content-changes-list > li {
            margin-bottom: 40px;
            display: block;
        }

    .umb-content-changes-item {
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,.16);
    }

    .umb-content-changes-item-title {
        background-color: #675e7a;
        padding: 15px 20px;
        border-radius: 3px 3px 0 0;
    }

    .umb-content-changes-item-name {
        font-size: 15px;
        color: #fff;
        font-weight: 600;
    }

        .umb-content-changes-item-name:after {
            content: "-";
            margin-left: 7px;
            margin-right: 2px;
        }

    .umb-content-changes-item-description {
        font-size: 13px;
        color: rgba(255, 255, 255, .75);
    }

    .umb-content-changes-item-content {
        display: flex;
        padding: 20px;
    }

        .umb-content-changes-item-content div {
            word-break: break-word;
        }

    .umb-content-changes-old,
    .umb-content-changes-new {
        flex: 1;
    }

    .umb-content-changes-old {
        padding-right: 20px;
    }

        .umb-content-changes-old .umb-content-changes-header {
            color: #D42D2D;
        }

    .umb-content-changes-new {
        padding-left: 20px;
    }

        .umb-content-changes-new .umb-content-changes-header {
            color: #35C786;
        }

    .umb-content-changes-header {
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #e9e9eb;
    }

    .umb-content-changes-mediapicker img {
        max-width: 200px;
    }

    .umb-content-changes-nestedcontent ul {
        margin: 0;
    }

        .umb-content-changes-nestedcontent ul li {
            display: block;
        }

            .umb-content-changes-nestedcontent ul li:last-child .umb-content-changes-nestedcontent-item {
                border-bottom: none;
            }

    .umb-content-changes-nestedcontent-item {
        display: flex;
        padding: 15px 0;
        border-bottom: 1px solid #D8D7D9;
    }

        .umb-content-changes-nestedcontent-item [class^=icon-] {
            margin-right: 9px;
        }

    @media only screen and (max-width: 768px) {
        .umb-content-header {
            display: block;
        }

        .umb-content-last-modified-by {
            padding-left: 0;
            margin-top: 25px;
            margin-bottom: 25px;
        }
    }
</style>
