.umb-content-no-changes {
    max-width: 600px;
}

.umb-content-no-language-changes {
    margin-top: 40px;
    font-weight: 600;
}

.umb-content-intro {
    flex: 65%;
}

    .umb-content-intro p {
        line-height: 24px;
    }

.umb-content-last-modified-by {
    padding-left: 100px;
    flex: 35%;
}

.umb-content-last-modified-by-title {
    font-size: 17px;
}

.umb-content-last-modified-by-avatar {
    margin-right: 9px;
}

.umb-content-last-modified-by-user {
    display: block;
}

.umb-content-last-modified-by-date {
    color: #706F73;
    font-size: 13px;
    display: block;
}

.umb-content-language-nav {
    top: 0;
    position: sticky;
    background-color: #f3f3f5;
    padding: 15px 0;
}

    .umb-content-language-nav > ul {
        margin: 0;
    }

        .umb-content-language-nav > ul li {
            display: inline-block;
        }

.umb-content-language-nav-item {
    padding: 10px 20px;
    border-left: 1px solid #D8D7D9;
}

    .umb-content-language-nav-item:hover {
        text-decoration: none;
        cursor: pointer;
    }

    .umb-content-language-nav-item.active {
        color: #02AEA2;
        font-weight: 600;
    }

.umb-content-language-nav-item-count {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    border-radius: 50%;
    background-color: #D42D2D;
    width: 16px;
    height: 16px;
    margin-left: 4px;
}

.umb-content-language-nav li:last-child .umb-content-language-nav-item {
    border-right: 1px solid #D8D7D9;
}

.umb-content-changes {
    margin-top: 25px;
}

.umb-content-changes-list {
    margin: 0;
}

    .umb-content-changes-list > li {
        margin-bottom: 40px;
        display: block;
    }

.umb-content-changes-item {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.16);
}

.umb-content-changes-item-title {
    background-color: #675e7a;
    padding: 15px 20px;
    border-radius: 3px 3px 0 0;
}

.umb-content-changes-item-name {
    font-size: 15px;
    color: #fff;
    font-weight: 600;
}

    .umb-content-changes-item-name:after {
        content: "-";
        margin-left: 7px;
        margin-right: 2px;
    }

.umb-content-changes-item-description {
    font-size: 13px;
    color: rgba(255, 255, 255, .75);
}

.umb-content-changes-item-content {
    display: flex;
    padding: 20px;
}

    .umb-content-changes-item-content div {
        word-break: break-word;
    }

.umb-content-changes-old,
.umb-content-changes-new {
    flex: 1;
}

.umb-content-changes-old {
    padding-right: 20px;
}

    .umb-content-changes-old .umb-content-changes-header {
        color: #D42D2D;
    }

.umb-content-changes-new {
    padding-left: 20px;
}

    .umb-content-changes-new .umb-content-changes-header {
        color: #35C786;
    }

.umb-content-changes-header {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e9e9eb;
}

.umb-content-changes-mediapicker img {
    max-width: 200px;
}

.umb-content-changes-nestedcontent ul {
    margin: 0;
}

    .umb-content-changes-nestedcontent ul li {
        display: block;
    }

        .umb-content-changes-nestedcontent ul li:last-child .umb-content-changes-nestedcontent-item {
            border-bottom: none;
        }

.umb-content-changes-nestedcontent-item {
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid #D8D7D9;
}

    .umb-content-changes-nestedcontent-item [class^=icon-] {
        margin-right: 9px;
    }

@media only screen and (max-width: 768px) {
    .umb-content-header {
        display: block;
    }

    .umb-content-last-modified-by {
        padding-left: 0;
        margin-top: 25px;
        margin-bottom: 25px;
    }
}
